@import './header.css';
@import './cards.css';

main,
body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  /*width: 100vw;*/
}


section {
  display: flex;
  flex-direction: column;
}

.element-header {
  display: grid;
  grid-template-columns: 200px calc(100% - 200px);
  margin: 20px 70px;
}

.element-header h3 {
  font-size: 22px;
  font-weight: 300;
  width: 100%;
}

.element-header hr {
  align-self: center;
  border: 0.5px solid #D1D2D3;
  width: 100%;
}

.accordion-tabs {
  margin: 0 100px;
}

.main-header {
  background-color: #2F2235;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 4.5%;
}

.tabs label{
  width: 23.85%;
}

.tab-image {
  background-color: #f2f2f2;
  height: 300px;
  width: 27%;
}

.tab-text {
  padding-left: 20px;
  padding-right: 20px;
  width: 70%;
}

h1 {
  font-weight: 300;
}

span {
  color: #34D1D1;
}

h1,
.name {
  color: #f2f2f2;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  width: 100%%;
}

.input {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #f2f2f2;
  border: 1px solid #d1d2d3;
  color: #666666;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  margin: 0 1px;
  padding: 20px 5px;
  transition: background 0.1s, color 0.1s;
}

.label:hover {
  background: #d8d8d8;
}

.label:active {
  background: #ccc;
  border-bottom: none;
}

.input:focus + .label {
  box-shadow: inset 0px 0px 0px 3px #2aa1c0;
  z-index: 1;
}

.input:checked + .label {
  background: #fff;
  border-bottom: none;
  color: #000;
}

.input:checked + .label + .panel {
  display: block;
  width: 100%;
}

.panel {
  background: #fff;
  border: 1px solid #d1d2d3;
  border-top: none;
  display: none;
  padding: 20px 30px 30px;
}

.subheader {
  display: grid;
  grid-template-columns: 200px calc(100% - 200px);
  margin: 20px 70px;
}

.subheader h3 {
  font-size: 22px;
  font-weight: 300;
  width: 100%;
}

.subheader hr {
  align-self: center;
  border: 0.5px solid #D1D2D3;
  width: 100%;
}

button {
  align-self: center;
  background-color: #2F2235;
  color: #F2F2F2;
  cursor: pointer;
  height: 50px;
  margin-top: 40px;
  width: 270px;
}




@media only screen and (max-width: 600px) {

  .input:checked + .label + .panel {
    flex-direction: column;
    width: 100%;
  }

  .input:checked + .label {
    width: 100%;
  }

  .input:checked + .label
  .tabs label {
    width: 100%;
    padding: 6px;
  }

  .tab-image {
    width: 95%;
  }

  .tabs label {
    width: 100%;
  }
}


@media (min-width: 600px) {
  .panel {
    order: 99;
  }

}






